.bgContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-position: center;
    background: linear-gradient(to right, #4c1887, #6c42aa);
  }

.mainContainer {
    width: 100%;
    max-width: 600px;
    padding: 80px 20px;
    margin: auto;
    position: relative;
    text-align: center;
}

.mainContainerWrapper {
    overflow-y: auto;
    position: relative;
}